*{
    margin: 0;
    padding: 0; 
    font-family: 'Syne', sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: #030303;
    background-image: url(eiu.png);
}

::selection {
    color: #000000;
    background: #ffffff;
  }

.navbar {
    position: fixed;
    width: 100%;
    text-align:right;
    padding-top:2vw;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    z-index: 100;
}

.navbar a {
    transition-duration: 0.2s;
    padding:8px 12px;
    margin-right:2vw;
    position:relative;
    font-weight: 700;
    color: #ffffff;
    text-decoration:none;
    text-align: center;
}

.navbar a:hover {
    font-weight: 800;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}
  
/* --------------------------------------------------------- */


.pageheader {
    float: left;
    padding-top: 14vh;
    padding-left: 5.5vw;
    position:relative;

}

.textbox {
    color: #ffffff;
}

.textbox h1 {
    font-weight: 750;
    font-size: 9.5vw;
    line-height: 9.5vw;
}

.textbox h4 {
    font-weight: 600;
    font-size: 2.2vw;
    text-shadow: 0px 0px 7px #dee8fc80;
}

.glow{
    text-shadow: 0px 0px 1vw #dee8fc41;
}

.lh2 {
    line-height: 6vw;
}

.button1{
    transition-duration: 0.2s;
    background-color: transparent;
    border: 3px solid #ffffff;
    cursor:pointer;
    color: #ffffff;
    padding: 1.25vw 2.25vw; 
    font-weight: 600;
    font-size: 2vw;
    margin-top: 4.5vh;

}

.button1:hover {
    transition-duration: 0.2s;
    background-color: #ffffff;
    padding: 1.75vw 2.75vw;
    color: #000000;

}

.button1:active { 
    color: transparent;
    transform:scale(0.96);
}

.imgaffan {
    width:35vw;
    margin-top: -25vw; margin-right: -28.5vw;
    float:right;
    box-shadow: 2vw 2vw 0px #ffffff;
}

/*     transition-duration:0.4s;
.imgaffan:hover {
    width:35.5vw;
    margin-top: -25.5vw; margin-right: 5vw;
    float:right;
    filter: brightness(50%);
    box-shadow: 2vw 2vw 0vw #ffffff;
    z-index: 2;
}

.imgaffan:active {
    width:35.5vw;
    margin-top: -25vw; margin-right: 5vw;
    float:right;
    box-shadow: 2vw 2vw 0vw #ffffff;
    filter: brightness(40%);
    z-index: 2;
}

*/


@media(max-width: 700px){
    .textbox h1{
        font-size:12vw;
    }

    .pageheader{
    padding:10vh 0 0 0;
    text-align: center;
    width:100%;
    
    }
    .button1{
        padding: 2vw 4vw;
        transform:scale(1.25);
        margin-top:8vh;
    }
    .imgaffan{
        margin:4vh 25vw 0 0vw;
        width:50vw;
    }

    .textbox h4{
        font-size:3vw;
    }

    .navbar{
        text-align: center;
        margin-top:1vh;
    }
    .navbar a{
        font-size:3vw;
        flex:1;
        width: 100%;
        margin: auto;
        align-items:center;
    }
/*FOR LATER!!! mobile menu beta
    .navbar a{
        display:block;
    }
    .navbar{
        position:absolute;
        height:100vh;
        width:28vw;
        top:0;
        right:0;
        text-align: right;
        line-height: 10vw;

    }
}
*/
}