// thanks https://gwfh.mranftl.com/fonts
// ------------------------------------------------------------------------
// space-grotesk-300
@font-face {
  font-display: swap;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 300;
  src: url("../../../../fonts/space-grotesk-v15-latin-300.woff2") format("woff2"),
    url("../../../../fonts/space-grotesk-v15-latin-300.woff") format("woff");
}
// space-grotesk-regular
@font-face {
  font-display: swap;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  src: url("../../../../fonts/space-grotesk-v15-latin-regular.woff2") format("woff2"),
    url("../../../../fonts/space-grotesk-v15-latin-regular.woff") format("woff");
}
// space-grotesk-500
@font-face {
  font-display: swap;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  src: url("../../../../fonts/space-grotesk-v15-latin-500.woff2") format("woff2"),
    url("../../../../fonts/space-grotesk-v15-latin-500.woff") format("woff");
}
// space-grotesk-600
@font-face {
  font-display: swap;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 600;
  src: url("../../../../fonts/space-grotesk-v15-latin-600.woff2") format("woff2"),
    url("../../../../fonts/space-grotesk-v15-latin-600.woff") format("woff");
}
// space-grotesk-700
@font-face {
  font-display: swap;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  src: url("../../../../fonts/space-grotesk-v15-latin-700.woff2") format("woff2"),
    url("../../../../fonts/space-grotesk-v15-latin-700.woff") format("woff");
}
// ------------------------------------------------------------------------
// jetbrains-mono-300
@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 300;
  src: url("../../../../fonts/jetbrains-mono-v18-latin-300.woff2") format("woff2"),
    url("../../../../fonts/jetbrains-mono-v18-latin-300.woff") format("woff");
}
// jetbrains-mono-regular
@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../../../../fonts/jetbrains-mono-v18-latin-regular.woff2") format("woff2"),
    url("../../../../fonts/jetbrains-mono-v18-latin-regular.woff") format("woff");
}
// jetbrains-mono-500
@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 500;
  src: url("../../../../fonts/jetbrains-mono-v18-latin-500.woff2") format("woff2"),
    url("../../../../fonts/jetbrains-mono-v18-latin-500.woff") format("woff");
}
// jetbrains-mono-600
@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 600;
  src: url("../../../../fonts/jetbrains-mono-v18-latin-600.woff2") format("woff2"),
    url("../../../../fonts/jetbrains-mono-v18-latin-600.woff") format("woff");
}
// jetbrains-mono-700
@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../../../../fonts/jetbrains-mono-v18-latin-700.woff2") format("woff2"),
    url("../../../../fonts/jetbrains-mono-v18-latin-700.woff") format("woff");
}
