// thanks https://gwfh.mranftl.com/fonts
// ------------------------------------------------------------------------
// geist-pixel-circle-regular
@font-face {
  font-display: swap;
  font-family: "Geist Pixel";
  font-style: normal;
  font-weight: 400;
  src: url("../../../../fonts/geist-pixel-circle.woff2") format("woff2");
}
// ------------------------------------------------------------------------
// space-grotesk-300
@font-face {
  font-display: swap;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 300;
  src:
    url("../../../../fonts/space-grotesk-v15-latin-300.woff2") format("woff2"),
    url("../../../../fonts/space-grotesk-v15-latin-300.woff") format("woff");
}
// space-grotesk-regular
@font-face {
  font-display: swap;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  src:
    url("../../../../fonts/space-grotesk-v15-latin-regular.woff2") format("woff2"),
    url("../../../../fonts/space-grotesk-v15-latin-regular.woff") format("woff");
}
// space-grotesk-500
@font-face {
  font-display: swap;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  src:
    url("../../../../fonts/space-grotesk-v15-latin-500.woff2") format("woff2"),
    url("../../../../fonts/space-grotesk-v15-latin-500.woff") format("woff");
}
// space-grotesk-600
@font-face {
  font-display: swap;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 600;
  src:
    url("../../../../fonts/space-grotesk-v15-latin-600.woff2") format("woff2"),
    url("../../../../fonts/space-grotesk-v15-latin-600.woff") format("woff");
}
// space-grotesk-700
@font-face {
  font-display: swap;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  src:
    url("../../../../fonts/space-grotesk-v15-latin-700.woff2") format("woff2"),
    url("../../../../fonts/space-grotesk-v15-latin-700.woff") format("woff");
}
// ------------------------------------------------------------------------
// geist-mono-variable
@font-face {
  font-display: swap;
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 100 900;
  src: url("../../../../fonts/geist-mono-variable.woff2") format("woff2-variations");
}
