@mixin outlineText(
    $content,
    $translateX: 0,
    $translateY: 0,
    $fontSize: 175px,
    $letterSpacing: -0.075em,
    $opacity: 0.25
) {
    height: 300px;
    font-size: $fontSize;
    content: $content;
    font-weight: 700;
    z-index: -1;
    user-select: none;
    transform: translateX($translateX) translateY($translateY);
    -webkit-text-stroke: 2px var(--text-primary);
    color: transparent;
    opacity: $opacity;
    letter-spacing: $letterSpacing;
    position: absolute;
}
