:root {
    --text-primary: #eed1c7;
    --text-secondary: #bda3a3;
    --accent: #dba895;
    --accent-opacity: #dba8952a;
    --bg-color: #171212;
    --elevation-one: #211c1c;
    --elevation-two: #211c1c75;
    --elevation-three: #1e1a1a;
    --elevation-four: #7b73733a;
    --elevation-five: #1f1919ca;
    --elevation-six: #0a0808bb;
}
