:root {
    --text-primary: #4e201c;
    --text-secondary: #744b40;
    --accent: #8b4d3f;
    --accent-opacity: #783b2e2a;
    --bg-color: #eae5db;
    --elevation-one: #e3dcd1;
    --elevation-two: #e3dcd175;
    --elevation-three: #92797340;
    --elevation-four: #d5c8bb;
    --elevation-five: #dfd8ccce;
    --elevation-six: #261812b2;
    --art-modal-light-font-primary: #eed1c7;
    --art-modal-light-font-secondary: #bda3a3;
}
