/* very cool 
https://google-webfonts-helper.herokuapp.com/ */

/* space-grotesk-300 - latin */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('fonts/space-grotesk-v13-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/space-grotesk-v13-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* space-grotesk-regular - latin */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('fonts/space-grotesk-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/space-grotesk-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* space-grotesk-500 - latin */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('fonts/space-grotesk-v13-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/space-grotesk-v13-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* space-grotesk-600 - latin */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('fonts/space-grotesk-v13-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/space-grotesk-v13-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* space-grotesk-700 - latin */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('fonts/space-grotesk-v13-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/space-grotesk-v13-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jetbrains-mono-300 - latin */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('fonts/jetbrains-mono-v13-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/jetbrains-mono-v13-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* jetbrains-mono-regular - latin */
  @font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('fonts/jetbrains-mono-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/jetbrains-mono-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* jetbrains-mono-500 - latin */
  @font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('fonts/jetbrains-mono-v13-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/jetbrains-mono-v13-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* jetbrains-mono-600 - latin */
  @font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('fonts/jetbrains-mono-v13-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/jetbrains-mono-v13-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: var(--font-one);
    scroll-behavior: smooth;
    scroll-margin-top: 6rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (max-width: 868px) {
    * {
        scroll-margin-top: 1rem;
    }
}

html {
    font-size: 100%;
    box-sizing: border-box;
    letter-spacing: -0.05em;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    background-color: var(--bg-color);
    overflow-x: hidden;
}

html,
body {
    max-width: 100%;
}

.wrapper {
    min-height: 0vw;
    margin-inline: auto;
    width: min(90%, 65rem) !important;
}

@media (max-width: 868px) {
    .wrapper {
        margin-bottom: 4.75rem;
    }
}

@media (max-width: 768px) {
    .wrapper {
        width: min(88%, 65rem) !important;
    }
}

body.stop-transitions * {
    transition: none !important;
}

:root {
    --white: #eed1c7;
    --white-two: hsl(0, 17%, 69%);
    --yellow: #dba895;
    --yellow-opacity: #dba8952a;
    --bg-color: hsl(0, 11%, 6.75%);
    --grey-one: #211c1c;
    --grey-two: #211c1c75;
    --grey-three: #1e1a1a;
    --grey-four: rgba(123, 115, 115, 0.227);
    --font-one: "Space Grotesk", sans-serif;
    --font-two: "JetBrains Mono", monospace;
    --bezier-one: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

::selection {
    color: var(--white);
    background: var(--yellow-opacity);
}

/*-----headings-----*/

h1 {
    color: var(--white);
    font-weight: 600;
    letter-spacing: -0.075em;
    line-height: 0.05rem;
    line-height: 101.6%;
    font-size: 6.25rem;
}

h2 {
    color: var(--white);
    font-weight: 500;
    font-size: 2.25rem;
    border-radius: 12px;
    margin-bottom: 1rem;
    width: fit-content;
    text-align: left;
    display: none;
}

h3 {
    color: var(--yellow);
    font-weight: 300;
    font-size: 1.6rem;
    font-family: var(--font-two);
    letter-spacing: -0.075em;
}
h4 {
    color: var(--white-two);
    font-weight: 300;
    font-size: 1.7rem;
}

h5 {
    color: var(--white);
    font-weight: 500;
    font-size: 1.4rem;
}

h6 {
    color: var(--white-two);
    font-size: 1.15rem;
    font-family: var(--font-two);
    font-weight: 300;
    letter-spacing: -0.075em;
}

h7 {
    color: var(--white-two);
    font-size: 0.9rem;
    font-family: var(--font-two);
    font-weight: 300;
    letter-spacing: -0.075em;
}

p {
    color: var(--white-two);
    font-weight: 300;
    font-size: 1.1rem;
    letter-spacing: -0rem;
    line-height: 1.75rem;
}

@media (max-width: 868px) {
    h2 {
        display: block;
        padding: 0;
        background-color: transparent;
        font-size: 1.75rem;
        margin-bottom: 0.3rem;
        display: inline-block;
    }

    h5 {
        font-size: 1.2rem;
    }
    
    h6 {
        font-size: 1rem;
    }

    p {
        font-size: 1rem;
    }
}

/*-----scrollbar-----*/

::-webkit-scrollbar {
    width: 11px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--grey-three);
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--grey-one);
}
